
body {
	background-color: #f2f4ff;
}

.container {
	padding: 0 15px;

}



/* @media (min-width: 575.98px) {
	.container {
		padding: 0 calc(50% - 270px);
	}
}

@media (min-width: 767.98px) {
	.container {
		padding: 0 calc(50% - 360px);
	}
}

@media (min-width: 991.98px) {
	.container {
		padding: 0 calc(50% - 480px);
	}
}

@media (min-width: 1199.98px) {
	.container {
		padding: 0 calc(35% - 590px);
	}
} */
.header {
	height: 50px;
}


.info {
	background-color: white;
	padding: 15px;
	border-radius: 25px;
}



.main {
	display: grid;
	grid-template-columns: 2fr 9fr 3fr;
	grid-gap: 10px;
}

.img {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	max-width: 150%;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}


/* .downloads {
	position: relative;
} */

.downloads_wrapper {
	width: 25em;
	height: 100px;
	position: fixed;
	bottom: -80px;
	right: 10px;
	border-radius: 0.25rem;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
	transition: all .3s;
}

.downloads_button {
	display: flex;
	justify-content: center;
	background-color: #f2f4ff;
	cursor: pointer;
}


.downloads_wrapper-active {
  bottom: 0;
	transition: all .3s;
}

progress {
	-webkit-appearance: none;
}

::-webkit-progress-bar {
	background-color: white;
}

progress::-webkit-progress-value {
	background-color: rgb(9, 100, 204);
	border-radius: 7px;
}